@model IndexViewModel

<app-root key="@Model.ApiKey" 
          appData="@Model.ApiBaseUrl"
          query="@Model.Query"
          totalDays="@Model.TotalDaysToDisplay"
          displayTemperature="@Model.DisplayTemperature"></app-root>
<script src="runtime.js" defer></script>
<script src="polyfills.js" defer></script>
<script src="vendor.js" defer></script>
<script src="main.js" defer></script>

<div>Logo made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>